<h1>New Car Listing</h1>

<%= simple_form_for @car_listing do |f| %>
  <%= simple_fields_for :car do |c| %>
    <%= c.input :name %>
  <% end %>

  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>
